$header_height: 85px;

$text-font-size-xlight: 14px;
$text-font-size-light: 16px;
$text-font-size-small: 18px;
$text-font-size-medium: 25px;
$text-font-size-big: 32px;
$text-font-size-large: 48px;
$text-font-size-xlarge: 64px;

$bg-main-color: #FFFFFF;
$bg-accent-color: #F3E8DD;
$bg-black-color: #1A1A1A;
$bg-transparent: rgb(239 217 217 / 90%);
$bg-header:rgba(255, 249, 247, 0.9);

$text-main-color: #333333;
$text-second-color: #7A7A7A;
$text-main-btn: #4A4A4A;
$text-accent-color: #F6D5DA;

$shadow-others:rgba(0, 0, 0, 0.05);
$shadow-card-color:rgba(0, 0, 0, 0.08);
$shadow-hover-card-color:rgba(0, 0, 0, 0.12);
$shadow-pink:rgba(246, 213, 218, 0.3);

$text-title-color: #000000;
$text-btn-main-color: #FFFFFF;
$text-btn-second-color: #A67C52;
$text-link-actent-color: #fde68c;
$text-link-color: #FFFFFF;
$text-link-active-color: #F6D5DA;

$borde-color: #E8D5D2;

$btn-main-bg-color: #F6D5DA;
$btn-hover-main-bg-color: #E8D5D2;
$btn-second-bg-color: transparent;
$btn-special-bg-color: #A67C52;
$btn-hover-second-bg-color: #F8F4F0;
$btn-hover-special-bg-color:  #333333;
